*{padding:0;margin:0;border:0;font-family: 'Roboto', sans-serif;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}





.wrapper {
  color: #527CCD;
  max-width: 1200px;;
  margin: 100px auto;
}
.conteiner {
  padding-left: 13px;
  height: 530px;
  overflow: hidden; 
}

                     // АДАПТИВ
// сдвигает при 1200 
@media (max-width: 1200px){  
  .wrapper{
    max-width: 895px;
  }
}
// сдвигает при 910
@media (max-width: 910px){
  .wrapper{
    max-width: 600px;
    padding-left: 4px;
  }
  .conteiner{
    height: 527px;
  }
  div.header__H{
    margin-top: 10px;
    font-size: 47px;
  }
  div.header__line{
    width: 110px;
  }
  div.header__color{
    width: 22px;
  }
  .header{
    margin-right: 16px;
  }
  div.info{
    padding-top: 20px;
  }
}
// сдвигает при 600
@media (max-width: 600px){
  .wrapper{
    max-width: 300px;
  }
  .header{
    height: 50px;
  }
  div.header__H{
    margin-left: 25px;
    font-size: 40px;
  }
  .conteiner {
    margin: 100px auto;
    width: 295px;
    height: 570px;
  }
  button.btn-header.back{
    position: absolute;
    left: -6px;
    top: 505px;
  }
  button.btn-header.next{
    position: absolute;
    right: -8px;
    top: 505px;
  }
  div.header__line{
    position: absolute;
    top: 505px;
    left: 76px;
  }
  div.info{
    padding-top: 30px;
  }
}

                             // ВЕРСТКА
                             // ВЕРХ
.header {
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;

		&__text {
      width: 100%;
      display: flex;
      justify-content: space-between;
		}

		&__H {
      font-size: 60px;
      line-height: 60px;
      margin-right: 20px;     
		}
    
		&__line {
      margin-right: 20px;
      margin-top: 33px;
      height: 1px;
      width: 305px;
      background-color: #C8D9FB;
		}
    &__color{
      height: 1px;
      width: 64px;
      background-color: #1960ee;
    }

		&__button {
      display: flex;
      justify-content: space-between;
		}
}
.header__button{
  display: flex;
  width: 170px;
}
                         //КНОПКИ ЛЕВО ПРАВО
.btn-header {  
  border: 1px solid #C8D9FB;
  background-color: white;
  height: 60px;
  width: 60px;
  padding: 20px 23px;
  margin-right: 5px;
  margin-top: 3px;
  border-radius: 10px;
  transition: all ease 0.6s;
  }
.btn-header:hover{
  transform: scale(1.1);
	background-color: #C8D9FB;
}
.btn-header:active{
  background-color: #aac4f8;
}



                       // КАРТОЧКА
.info {
  padding-top: 30px;
		&__card {
      display: flex;
      position: relative;
      transition: all ease 0.6s;
		}
}
.item-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 12px;
  line-height: 22px;
  margin-right: 40px;
  border-radius: 10px;
  border: 1px solid #C8D9FB;
  
		&__image {
      width: 220px;
      height: 160px;     
		}

		&__year {
      margin-top: 10px;
      opacity: 0.6;     
		}

		&__news {
      flex: 1 1 auto;
      margin-top: 10px;
      font-size: 15px;
      line-height: 26px;
      padding-bottom: 10px;
		}

		&__text { 
      height: 80px;
		}
  
}
.active{
  transform: scale(1.05,);
  transition: all 0.4s linear;
  border: 1px solid #1960ee;
  box-shadow: 1px 1px 10px rgba(1, 39, 253, 0.5);
}




